
.contact-form{
    margin-top: 30px;
    text-align: center;
}
.contact-form h1{
    font-family: sans-serif;
}

.label{
    font-size: 30px;
}
.a{
    text-decoration-line: none;
    text-decoration: none;
}
.genders{
    margin-left: 8.5%;
}

.cn{
    margin-left: auto;
}
